<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather-Help</title>
  </head>
  <body>
    {{!-- to use partials in other hbs files we use {{>}} sign followed by name of partial file without extension --}}
   <div class="main-content">
   {{>header}}
    <p>{{subHeading}}</p>
    <p>{{desc}}</p>

   </div>
   
    {{>footer}}
  </body>
</html>